<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}
			<link rel="stylesheet" href="/css/style.css">
		{% endblock %}
		<style>
			.grid {
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				grid-gap: 30px;
			}
			.filter {
				display: block;
				position: sticky;
				top: 20px
			}
		</style>

	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="{{ path('home')}}">
				CESI BDE</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarColor03">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="{{ path('forum')}}">
							Forum</a>
					</li>
					{# {{dump(app.user)}} #}
					{% if app.user %}
						<li class="nav-item">
							<a class="nav-link" href="{{ path('security_logout') }}">
								Déconnexion</a>
						</li>

						{% if not app.user.isBanned %}
							<li class="nav-item">
								<a class="nav-link" href="{{ path('forum_create') }}">
									Créer un post</a>
							</li>
						{% endif %}

						{% if app.user.roles[0] == 'ROLE_ADMIN' %}
							<li class="nav-item">
								<a class="nav-link" href="/admin">
									Administration</a>
							</li>
						{% endif %}
					{% else %}
						<li class="nav-item">
							<a class="nav-link" href="{{ path('security_login') }}">
								Connexion</a>
						</li>
					{% endif %}

				</div>
			</nav>
			<div class="container"> {% block body %}{% endblock %}
				</div>
				{% block javascripts %}{% endblock %}
			</body>
		</body>
	</html>
</body></html></body></html></body></html></body></html>
