{{ form_start(form, {attr: {class: 'filter'}}) }}

<h5>Rechercher par termes:</h5>
<div class="row">
	{{ form_row(form.q)}}
</div>

<h5>Catégories :</h5>
<div class="row">
	{{ form_row(form.categories)}}
</div>


<h5>Date de publication :</h5>
<div class="row">
	{{ form_row(form.min)}}
	{{ form_row(form.max)}}
</div>

<button type="submit" class="btn btn-success">Rechercher</button>

{{ form_end(form) }}
