{{ form_start(form, {'attr': {'class': 'filter'},'method': 'GET'}) }}

<h5>Rechercher par :</h5>
<ul>
	<li><h6>Terme</h6>
		<div class="row">
			{{ form_row(form.q)}}
		</div>
	</li>
	
	<br>

	<li><h6>Catégorie</h6>
		<div class="row">
			{{ form_row(form.categories)}}
		</div>
	</li>

	<br>

	<li><h6>Date de publication</h6>
		<div class="row">
			{{ form_row(form.min)}}
			{{ form_row(form.max)}}
		</div>
	</li>
</ul>






<button type="submit" class="btn btn-success">Rechercher</button>

{{ form_end(form) }}
