{% extends "base.html.twig" %}

{% block body %}
	<post>
		<h2>{{ post.title }}</h2>
		<div class="metadata">Ecrit le
			{{ post.createdAt | date('d/m/Y')}}
			à
			{{ post.createdAt | date('h:i') }}
			dans la catégorie
			<span class="badge badge-primary">{{ post.category.title }}</span>
		</div>
		<div class="content">
			<img src="{{ post.picture }}" alt="">
			<p>{{ post.content | raw }}</p>
		</div>
	</post>

	<section id="commentaires">
		<h1>{{ post.comments | length }}
			Commentaires:</h1>
		{% for comment in post.comments %}
			<div class="comment">
				<div class="card border-dark mb-3" style="max-width: 60rem;">
					<div class="card-header">
						{{comment.author.username}}
						<small>,   le
							{{comment.createdAt | date('d/m/y à h:i')}}</small>
					</div>
					<div class="card-body">
						<p class="card-text">{{comment.content | raw}}</p>
					</div>
				</div>
			</div>

		{% endfor %}

		{{ form_start(commentForm) }}
		{{ form_row(commentForm.content, {"attr": {"placeholder": "Votre message"}}) }}
		<button type="submit" class="btn btn-success">Commenter !</button>
		{{ form_end(commentForm) }}

	</section>
{% endblock %}
